trigger: none

pool: Hosted-Agent

stages:
# ----------------------------------------------------------
# Stage 1: Pre-Commit / Static Analysis
# ----------------------------------------------------------
- stage: PreCommit
  displayName: "Pre-Commit / Static Analysis Stage"
  jobs:
  - job: Terraform_Install_Validate
    displayName: "Terraform Install & Validate"
    pool: Hosted-Agent
    steps:
    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        backendServiceArm: 'dev-service-connection'
        backendAzureRmStorageAccountName: 'kumamrig1234567890'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev.tfstate'

    - task: TerraformTask@5
      displayName: "Terraform Validate"
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'


# ----------------------------------------------------------
# Stage 2: Terraform Plan
# ----------------------------------------------------------
- stage: plan
  displayName: "Plan & Review Stage"
  dependsOn: PreCommit
  jobs:
  - job: TerraformPlan
    displayName: "Terraform Plan"
    pool: Hosted-Agent
    steps:

    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        backendServiceArm: 'dev-service-connection'
        backendAzureRmStorageAccountName: 'kumamrig1234567890'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev.tfstate'

    - task: TerraformTask@5
      displayName: "Terraform Plan"
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceNameAzureRM: 'dev-service-connection'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'


# ----------------------------------------------------------
# Stage 3: Manual Approval
# ----------------------------------------------------------
- stage: approval
  displayName: "Approval & Governance Stage"
  dependsOn: plan
  jobs:
  - job: ManualApproval
    displayName: "Manual Approval"
    pool: server
    steps:

    - task: ManualValidation@1
      name: manualGate
      inputs:
        notifyUsers: 'mritendra.k@gmail.com'
        instructions: 'Please review the Terraform Plan before approval.'


# ----------------------------------------------------------
# Stage 4: Terraform Apply
# ----------------------------------------------------------
- stage: apply
  displayName: "Deploy / Apply Stage"
  dependsOn: approval
  jobs:
  - job: TerraformApply
    displayName: "Terraform Apply"
    pool: Hosted-Agent
    steps:

    - powershell: |
        $env:PATH = "$(TF_PATH);" + $env:PATH
      displayName: "Fix Terraform PATH"

    - task: TerraformTask@5
      displayName: "Terraform Init"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        backendServiceArm: 'dev-service-connection'
        backendAzureRmStorageAccountName: 'kumamrig1234567890'
        backendAzureRmContainerName: 'tfstate'
        backendAzureRmKey: 'dev.tfstate'

    - task: TerraformTask@5
      displayName: "Terraform Apply"
      inputs:
        provider: 'azurerm'
        command: 'apply'
        environmentServiceNameAzureRM: 'dev-service-connection'
        workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'